    <!DOCTYPE html>  
    <html lang="en">  
        <head>  
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta charset="UTF-8">  
            <title>{{contactContent.last.my_name}}</title>  
            {% load staticfiles %}  
            
            <link href="{% static 'css/bootstrap-theme.css' %}" rel="stylesheet" >  
        </head> 

        <body class = "bg-dark mh-100"> 
            {% include "./widgets/navbar.html" with title=contactContent.last.my_name %}    
            <div class = "container">
                <div class="row">
                    <div class="col-xs-6 col-md-6 col-lg-6 gy-4">  
                        {% include "./widgets/contact_widget.html" with phone=contactContent.last.phone email=contactContent.last.email linkedin=contactContent.last.linkedin github=contactContent.last.github%}
                    </div>
                    <div class="col-xs-6 col-md-6 col-lg-6 gy-4">  
                        {% include "./widgets/image_widget.html" with url="https://t4.ftcdn.net/jpg/00/56/96/27/360_F_56962791_o8syVNM8Ojo19TxJhLy1JW6RPHOin2zS.jpg"%}
                    </div>
                </div>
                <div class="row">
                    {% for item in projectsContent %}
                        {% if item.type == "pfw"%}
                            <div class="col-xs-6 col-md-4 col-lg-4 gy-4">  
                                {% include "./widgets/portfolio_widget.html" with title=item.name description=item.description url=item.url %}
                            </div>
                            {% elif item.type == "imw" %}
                                <div class="col-xs-6 col-md-6 col-lg-4 gy-4">  
                                    {% include "./widgets/image_widget.html" with url="https://t4.ftcdn.net/jpg/00/56/96/27/360_F_56962791_o8syVNM8Ojo19TxJhLy1JW6RPHOin2zS.jpg"%}
                                </div>
                            {% endif %}
                    {% endfor %}
                </div>
            </div> 
        </body>  
    </html>
