<div class="contact">
    <div class="card">
        <div class="card-header bg-primary">
            
            <div class = "card-title">KONTAKT</div>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">TELEFON: {{phone}}</li>
            <li class="list-group-item">EMAIL: {{email}}</li>
            <li class="list-group-item">GITHUB: {{github}}</li>
            <li class="list-group-item">LINKEDIN: {{linkedin}}</li>
        </ul>
    </div>
</div>
