<div class="card bg-transparent border-0">
    <div class="card-body">
        <h5 class = "card-title">KONTAKT</h5>
        <ul class="list-group bg-transparent border-0">
            <li class="list-group-item bg-secondary border-0"><i class="bi-mailbox ic"></i><p class="card-text">{{email}}</p></li>
            <li class="list-group-item bg-secondary border-0"><i class="bi-github ic"></i><p class="card-text"><a href="{{github}}" class="card-text">GitHub</a></p></li>
            <li class="list-group-item bg-secondary border-0"><i class="bi-linkedin ic"></i><p class="card-text"><a href="{{linkedin}}" class="card-text">LinkedIn</a></p></li>
        </ul>
    </div>
    
</div>
