<div class="card bg-transparent border-0">
    <div class="card-body">
        <h5 class = "card-title">KONTAKT</h5>
        <ul class="list-group bg-transparent border-0">
            <li class="list-group-item bg-secondary border-0"><p class="card-text">TELEFON: {{phone}}</p></li>
            <li class="list-group-item bg-secondary border-0"><p class="card-text">EMAIL: {{email}}</p></li>
            <li class="list-group-item bg-secondary border-0"><p class="card-text">GITHUB: {{github}}</p></li>
            <li class="list-group-item bg-secondary border-0"><p class="card-text">LINKEDIN: {{linkedin}}</p></li>
        </ul>
    </div>
    
</div>
